@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
footer {
    position: absolute;
    /* padding: 10px 10px 0px 10px; */
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 0%;
    background: #3f4246;
    font-family: 'Cairo', sans-serif;
}